<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<form th:action="@{|/create|}" method="post">
	<table>
		<tr>
			<th>이름 : </th>
			<th><input type="text" name="name" value="name"></th>
		</tr>
		<tr>
			<th>pass : </th>
			<th><input type="text" name="pass" value="pass"></th>
		</tr>		<tr>
			<th>email : </th>
			<th><input type="text" name="email" value="email"></th>
		</tr>
		<tr>
			<td colspan=2><input type="submit" value="제출"></td>
		</tr>
	
	</table>
	</form>
</body>
</html>