<html layout:decorate="~{Layout}">

<div layout:fragment="content" class="container my-3">

	<form th:action="@{|/create|}" th:object="${usersForm}" method="post">
	
	 <div th:replace="~{form_error::formErrorsFragment}"></div>
	
	<table>
		<tr class="mb-3">
			<th for="name" class="form-label">이름 : </th>
			<th><input type="text" name="name" th:field="*{name}" id="name" class="form-control"></th>
		</tr>
		<tr class="mb-3">
			<th for="pass" class="form-label">pass : </th>
			<th><input type="text" name="pass" th:field="*{pass}" id="pass" class="form-control"></th>
		</tr>		
		<tr class="mb-3">
			<th for="email" class="form-label">email : </th>
			<th><input type="text" name="email" th:field=*{email} id="email" class="form-control"></th>
		</tr>
		<tr>
			<td colspan=2><input type="submit" value="제출"></td>
		</tr>
	
	</table>
	
	</form>
	
</div>
</html>